@tailwind base;
@tailwind components;
@tailwind utilities;


/**
 * Tailwind Tokens
 * 
 * You can forge custom classes dependent on tailwind tokens
 * using the theme() function.
 * 
 * Remeber to follow the object accessing method for
 * accessing th properties from the repective objects.
 * 
 * eg - colors.purple.200
 * which is synonymous to
 * color: {
 * 		purple: {
 * 			...
 * 			200: "##e9d5ff"
 * 		}
 * }
*/
._external-class {
	/* @apply text-purple-200 bg-purple-900 py-2 px-6 rounded-lg uppercase; */
	color: theme("colors.purple.200");
	background-color: theme("colors.purple.900");
	padding: theme("padding.2") theme("padding.6");
	border-radius: theme("borderRadius.lg");
	text-transform: uppercase;
}
